@font-face {
  font-family: 'OTEnjoystoriesBA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2')
      format('woff2'),
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff')
      format('woff'),
    url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf')
      format('opentype');
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  background-color: #5b2386;
}

/* 제목과 설명 */
.container-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.container-intro .container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 225px;
}

.container-title .img-title {
  position: absolute;
  width: 564px;
  top: 25%;
}

.container-title .bgimg-clock {
  position: absolute;
  width: 222px;
  z-index: -1;
}

.img-intro-txt {
  width: 486px;
  margin: 50px 0 50px 0;
}

.container-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container-desc .txt-desc {
  font-family: 'GmarketSansMedium';
  color: #fff;
  line-height: 24px;
  text-align: center;
  margin-bottom: 100px;
}

.txt-desc > strong {
  font-family: 'GmarketSansBold';
  color: #fff;
}

.container-desc .bgimg-quotes {
  position: absolute;
  top: 13px;
}

/* 전문가와 훈련시간 입력폼 */
.container-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.txt-job,
.txt-time {
  font-family: 'GmarketSansMedium';
  color: #fff;
  line-height: 24px;
  font-size: 24px;
  margin-bottom: 27px;
}

.input-style {
  width: 228px;
  height: 57px;
  border-radius: 7px;
  padding-left: 17px;
  padding-right: 17px;
}

.input-style::placeholder {
  font-family: 'GmarketSansMedium';
  color: #babcbe;
  font-size: 24px;
}

.container-input-btn {
  position: relative;
  height: 66px;
}

.container-input-btn .bgimg-click {
  position: absolute;
  transform: rotate(-19.08deg);
  top: 30px;
}

/* 결과 로딩 화면 */
.container-result-loading {
  display: none;
  justify-content: center;
  margin-top: 60px;
}

.container-img-clock {
  width: 150px;
  height: 150px;
}

.container-img-clock > img {
  width: 100%;
  height: auto;
  animation: rotate 1.1s infinite linear;
}

/* 결과 확인 화면 */
.container-result {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 147px;
}

.result-job,
.result-time {
  font-family: 'GmarketSansBold';
  font-size: 72px;
}

.txt-job,
.txt-time {
  margin-bottom: 65px;
}

/* 회사와 저작권 정보 */
.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
}

.container-footer .img-footer {
  width: 125px;
  height: 25px;
}

.container-footer .txt-footer {
  margin: 20px 0 50px 0;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

/* 모달 */
#modal {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 700px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}

.modal-title,
.modal-txt {
  font-family: 'OTEnjoystoriesBA';
  color: #5b2386;
}

.modal-title {
  margin-top: 50px;
  font-size: 96px;
}

.modal-txt {
  font-size: 36px;
}

.img-licat {
  width: 433px;
  height: 337px;
  margin-top: 20px;
}

.btn-close {
  width: 508px;
  margin-top: 40px;
}

/* 버튼 공통 스타일 */
.btn-style {
  font-family: 'GmarketSansBold';
  font-size: 24px;
  color: #5b2386;
  background-color: #fcee21;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 56px;
  height: 66px;
}

.btn-start {
  width: 565px;
}

.btn-go {
  width: 356px;
}

.btn-share {
  width: 191px;
  margin-left: 20px;
  background-color: #fff;
}
